body {
    background-color: rgb(75, 77, 59);
    
}
#header{
    border: 3px solid maroon;
    background-color: green;
    padding: 5px;
}
#score{
    margin-left: 20px;
}
#timer{
    margin-right: 20px;
}
#main{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid maroon;
}
#Q-ACode{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid maroon;
}
#submit-score{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid maroon;
}
h1, h2, h3, a, span, p{
    color:white;
}
#signature{
    color:white;
}

#score-list {
    font-size:16px;
    color: whitesmoke;    
}
ol {
    list-style: none;
    counter-reset: li;
}

li {
    counter-increment: li;
}

li::before {
    content: "." counter(li);
    color: purple;
    display: inline-block;
    width: 1rem;
    margin-left: -1.5rem;
    margin-right: 0.5rem;
    text-align: right;
    direction: rtl;
}

hr {
    height: 2px;
    background-color: purple;
}

#scoresTitle {
    padding-left: 1rem;
    padding-bottom: 20px;
    border-bottom: 2px solid maroon;
}